@import url(reset.css);
@import url(base.css);
body{
    overflow-x: hidden;
    overflow-y: hidden;
    background:url(../image/img102.jpg) no-repeat;
    background-size:100% 100%;
    display: flex;
}
html,body{
    width: 100%;
    height: 100%;
}
.register{
    margin: auto;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
    background-color: rgb(185,190,199);
}
.user-padding{
    padding-left: 35px;
    padding-right: 35px;
}
.bg-user{
    position: absolute;
    width: 27px;
    height: 24px;
    margin: 5px 0 4px 4px;
    background: url(../image/user.png) no-repeat;
    border-right: 1px solid rgb(185,190,199);
   
}
.user-name
{
    padding-left: 30px;
    height: 30px;
    border: 1px solid #29bde0;
}

.bg-pw{
    position: absolute;
    width: 27px;
    height: 24px;
    margin: 5px 0 4px 4px;
    background: url(../image/password.png) no-repeat;
    border-right: 1px solid rgb(185,190,199);
}
.submit{
    width: 44%;
    border-radius: 5px;
    border: none;
    margin-top: 25px;
    margin-bottom: 15px;
    height: 33px;
    &:hover{
        cursor: pointer;
    }
}
#information{
    left: 40%;
    color: red;
}