@import url(reset.css);
@import url(base.css);
.people-information {
  display: none;
}

.state-bottom {
  display: none;
}

.state-top {
  display: none;
}

body {
  background-color: #fff;
}

.header-square {
  width: 35px;
  height: 35px;
  background: url(../image/13.png) no-repeat;
  background-size: 100%;
}

.header-right {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 100px;
}

.header-right2 {
  margin-left: 12px;
  font-size: 23px;
}

.border-bottom {
  border-bottom: 1px solid #fff;
}

.main-bg {
  width: 200px;
  height: 120px;
  background: url(../image/14.png) no-repeat;
  background-size: 100%;
}

.main-bg-inner {
  width: 50px;
  height: 71px;
  background: url(../image/12.png) no-repeat;
  background-size: 100%;
  background-position: 2px 25px;
}

.main-font {
  top: 76px;
  left: 52px;
  font-size: 25px;
}

.infor-bottom {
  border-bottom: 1px solid #dedede;
}

.footer-bottom {
  padding-bottom: 100px;
}

.footer-height {
  height: 75px;
}

.footer-width {
  width: 48%;
  border-radius: 10px;
}

.overflow {
  overflow: hidden;
}

.footer {
  background-color: rgba(41, 189, 224, 0.7);
}

.button {
  background-color: #f66f6f;
}
